server:
 port: ${CONTAINER_PORT}

spring:
 application:
  name: payment-service

eureka:
 client:
  registerWithEureka: true
  fetchRegistry: true
  serviceUrl:
   defaultZone: http://${REGISTRY_HOST}:${REGISTRY_PORT}/eureka
 instance:
    instance-id: ${INSTANCE_ID}